MONGODB_URI=mongodb://127.0.0.1:27017/vera
JWT_SECRET=super_secret_jwt_key_vera
EMAIL_HOST=smtp.ethereal.email
EMAIL_PORT=587
EMAIL_USER=your_ethereal_email@ethereal.email
EMAIL_PASSWORD=your_ethereal_password
CLIENT_URL=http://localhost:5173
